@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/demo.jpg");
  background-size: cover;
  background-position: center;
}

/* Скрытый заголовок */
.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section:nth-child(2n+3) {
  background-color: #fff5f6;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #907e82;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  line-height: 1.76;
  letter-spacing: 0.04em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Отмена значков ненумерованного списка, отмена падингов и маржинов */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* Предзаголовок */
.title {
  font-family: "Titan One", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 26px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 30px;
    line-height: 1.13;
  }
}

/* Основной заголовок секции */
.section-title {
  font-family: "Titan One", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .section-title {
    font-size: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 58px;
  }
}

/* Заголовок в карточках */
.card-title {
  font-family: "Titan One", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .card-title {
    font-size: 30px;
    line-height: 1.13;
  }
}

.container__gallery {
  padding: 0;
  margin: 0 auto;
  display: block;
  background-size: cover;
  background-image: url(../images/gallery.png);
  background-position: center;
  max-width: 280px;
  min-height: 100px;
}

@media screen and (min-width: 480px) {
  .container__gallery {
    max-width: 320px;
    min-height: 112px;
    background-image: url(../images/gallery.png);
  }
}

@media screen and (min-width: 768px) {
  .container__gallery {
    max-width: 768px;
    min-height: 264px;
    background-image: url(../images/gallery2x.png);
  }
}

@media screen and (min-width: 1280px) {
  .container__gallery {
    max-width: 1280px;
    min-height: 430px;
    background-image: url(../images/gallery2x.png);
  }
}

.contacts {
  background-color: #fff5f6;
  color: black;
}

@media (min-width: 1200px) {
  .contacts {
    background-image: url("../images/bg-contacts.png");
    background-repeat: no-repeat;
  }
}

.contacts-card {
  position: relative;
  top: -84px;
}

@media (min-width: 768px) {
  .contacts-card {
    top: -78px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto -30px;
  }
}

@media (min-width: 1200px) {
  .contacts-card {
    top: -102px;
  }
}

.contacts-card__item {
  display: block;
  background: #ffffff;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  margin: 0px auto 20px;
  padding: 43px 20px;
  color: #907e82;
}

@media (min-width: 480px) {
  .contacts-card__item {
    width: 220px;
  }
}

@media (min-width: 768px) {
  .contacts-card__item {
    font-size: 14px;
    line-height: 166%;
    margin-right: 20px;
    margin-left: 0;
    padding: 50px 30px;
  }
  .contacts-card__item:last-child {
    margin-right: 0px;
  }
}

@media (min-width: 1200px) {
  .contacts-card__item {
    width: 330px;
    font-size: 16px;
    margin-right: 30px;
    padding: 50px 43px 60px;
  }
}

.contacts-card__city,
.period-card__days {
  color: #000000;
  text-align: left;
  text-transform: none;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 186%;
  letter-spacing: 0.04em;
}

@media (min-width: 768px) {
  .contacts-card__city,
  .period-card__days {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .contacts-card__city,
  .period-card__days {
    font-size: 16px;
  }
}

.contacts-card__category {
  display: inline-block;
  padding: 0 22px;
  margin-bottom: 25px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  color: white;
}

@media (min-width: 768px) {
  .contacts-card__category {
    font-size: 16px;
    margin-bottom: 30px;
  }
}

.category1 {
  background: #f0d1a5;
}

.category2 {
  background: #c2e297;
}

.contacts__line {
  margin: 25px 0;
  border-bottom: 1px solid #e1e1e1;
}

@media (min-width: 768px) {
  .contacts__line {
    margin: 30px 0;
  }
}

.period-card__time {
  color: #ffa5ba;
  margin-top: 0;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .period-card__time {
    margin-bottom: 16px;
  }
}

.address-card {
  margin-bottom: 0;
}

.contacts__button {
  padding-bottom: 113px;
}

@media (min-width: 768px) {
  .contacts__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 768px) {
  .contacts__button {
    padding-bottom: 165px;
  }
}

.contacts-card__button--location {
  padding: 11px;
  background-color: #d41342;
  border: 0;
  border-radius: 22px;
  cursor: pointer;
  display: block;
  color: #ffffff;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  height: 44px;
  width: 160px;
  margin: 0 auto 10px;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.contacts-card__button--location:hover, .contacts-card__button--location:focus {
  background: #c7133e;
}

@media (min-width: 768px) {
  .contacts-card__button--location {
    margin: 0 14px 0 0;
    width: 180px;
  }
}

@media (min-width: 1200px) {
  .contacts-card__button--location {
    margin: 0 15px 0 0;
    width: 198px;
  }
}

.contacts-card__button--location svg {
  stroke: #ffffff;
  width: 6px;
  height: 12px;
  margin-left: 8px;
  position: relative;
  bottom: -1px;
}

.contacts-card__button--franchise {
  padding: 11px;
  background-color: #ffffff;
  border: 0;
  border-radius: 22px;
  cursor: pointer;
  display: block;
  color: #d41443;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  height: 44px;
  width: 160px;
  margin: 0 auto;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.contacts-card__button--franchise:hover, .contacts-card__button--franchise:focus {
  background: #ecebeb;
}

@media (min-width: 768px) {
  .contacts-card__button--franchise {
    margin: 0;
    width: 180px;
  }
}

@media (min-width: 1200px) {
  .contacts-card__button--franchise {
    margin: 0;
    width: 198px;
  }
}

.contacts-card__button--franchise svg {
  stroke: #d41443;
  width: 6px;
  height: 12px;
  margin-left: 8px;
  position: relative;
  bottom: -1px;
}
/*# sourceMappingURL=main.css.map */