@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/demo.jpg");
  background-size: cover;
  background-position: center;
}

/* Скрытый заголовок */
.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section:nth-child(2n+3) {
  background-color: #fff5f6;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #907e82;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  line-height: 1.76;
  letter-spacing: 0.04em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Отмена значков ненумерованного списка, отмена падингов и маржинов */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* Предзаголовок */
.title {
  font-family: "Titan One", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 26px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 30px;
    line-height: 1.13;
  }
}

/* Основной заголовок секции */
.section-title {
  font-family: "Titan One", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .section-title {
    font-size: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 58px;
  }
}

/* Заголовок в карточках */
.card-title {
  font-family: "Titan One", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .card-title {
    font-size: 30px;
    line-height: 1.13;
  }
}

.products {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-style: normal;
  list-style: none;
}

.products__title {
  font-size: 34px;
  line-height: 1.147;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

.products__subtitle {
  font-size: 18px;
  line-height: 1.167;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
}

.products__title, .products__subtitle {
  font-style: normal;
  font-weight: 400;
}

.products__list {
  width: 100%;
  height: 598px;
  list-style: none;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products__img {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 249px;
  height: 252px;
  margin: 0 auto;
}

.products__card {
  margin: 0 auto;
  width: 280px;
  height: 485px;
  border: none;
  background: #ffb8ca;
  border-radius: 24px;
}

.products__boxtitle {
  text-align: center;
}

.products__boxtext {
  text-align: center;
}

.touch-transform {
  -webkit-transition-property: color, fill, background-color, border, opacity, -webkit-box-shadow, -webkit-transform;
  transition-property: color, fill, background-color, border, opacity, -webkit-box-shadow, -webkit-transform;
  transition-property: color, fill, background-color, border, box-shadow, opacity, transform;
  transition-property: color, fill, background-color, border, box-shadow, opacity, transform, -webkit-box-shadow, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container__gallery {
  padding: 0;
  margin: 0 auto;
  display: block;
  background-size: cover;
  background-image: url(../images/gallery.png);
  background-position: center;
  max-width: 280px;
  min-height: 100px;
}

@media screen and (min-width: 480px) {
  .container__gallery {
    max-width: 320px;
    min-height: 112px;
    background-image: url(../images/gallery.png);
  }
}

@media screen and (min-width: 768px) {
  .container__gallery {
    max-width: 768px;
    min-height: 264px;
    background-image: url(../images/gallery2x.png);
  }
}

@media screen and (min-width: 1280px) {
  .container__gallery {
    max-width: 1280px;
    min-height: 430px;
    background-image: url(../images/gallery2x.png);
  }
}
/*# sourceMappingURL=main.css.map */