$accent-color: #D41443;
$label-title-color:#FFA5BA;
$primary-text-color: #907E82;

$primary-white-color: #ffffff;
$primary-black-color: #000000;

$primary-icon-color: #FEA5BB;

$bg-color-main: #ffffff;
$bg-color-secondary; #FFF5F6;
$bg-color-header:  #FFB8CA;
$bg-color-mob-menu: #E17992;
$bg-color-card1: #FFB8CA;
$bg-color-card2: #F0D1A5;
$bg-color-card3: #C2E297;

$border-color: #E1E1E1;

$primary-font: "DM Sans", sans-serif;
$accent-font: "Titan One", cursive;