<!-- Contacts section -->
<section class="contacts section" id="contacts">
  <h2 class="visually-hidden">Our contacts</h2>
  <div class="container">
    <ul class="contacts-card">
      <li class="contacts-card__item">
        <p class="contacts-card__category category1">CAFE</p>
        <b>Chicago</b>
        <p class="contacts-card__city">Chicago</p>
        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <hr class="contacts__line" />
        <ul class="period-card">
          <li class="period-card__item">
            <p class="period-card__days">Monday - Friday</p>
            <p class="period-card__time">6:00 AM - 10:00 PM</p>
          </li>
          <li class="period-card__item">
            <p class="period-card__days">Saturday - Sunday</p>
            <p class="period-card__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <hr class="contacts__line" />
        <ul class="address-card">
          <li class="address-card__item">
            <a class="address-card__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
          <li class="address-card__item">
            <a class="address-card__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          </li>
        </ul>
      </li>

      <!-- Card 2 -->
      <li class="contacts-card__item">
        <p class="contacts-card__category category2">FOOD TRUCK</p>
        <b>Chicago</b>
        <p class="contacts-card__city">Los Angeles</p>
        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <hr class="contacts__line" />
        <ul class="period-card">
          <li class="period-card__item">
            <p class="period-card__days">Monday - Friday</p>
            <p class="period-card__time">6:00 AM - 10:00 PM</p>
          </li>
          <li class="period-card__item">
            <p class="period-card__days">Saturday - Sunday</p>
            <p class="period-card__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <hr class="contacts__line" />
        <ul class="address-card">
          <li class="address-card__item">
            <a class="address-card__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
          <li class="address-card__item">
            <a class="address-card__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          </li>
        </ul>
      </li>

      <!-- card 3 -->
      <li class="contacts-card__item">
        <p class="contacts-card__category category2">CAFE</p>
        <b>New York</b>
        <p class="contacts-card__city">Chicago</p>
        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <hr class="contacts__line" />
        <ul class="period-card">
          <li class="period-card__item">
            <p class="period-card__days">Monday - Friday</p>
            <p class="period-card__time">6:00 AM - 10:00 PM</p>
          </li>
          <li class="period-card__item">
            <p class="period-card__days">Saturday - Sunday</p>
            <p class="period-card__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <hr class="contacts__line" />
        <ul class="address-card">
          <li class="address-card__item">
            <a class="address-card__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
          <li class="address-card__item">
            <a class="address-card__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          </li>
        </ul>
      </li>
    </ul>
    <button class="card__button" type="button">Our Locations &#62;</button>
    <button class="card__button" type="button">Franchise &#62;</button>
  </div>
</section>
