<!-- Contacts section -->
<section class="contacts section" id="contacts">
  <h2 class="hidden-title">Our contacts</h2>
  <div class="container">
    <ul class="list contacts-card">
      <li class="contacts-card__item">
        <p class="contacts-card__category category1">CAFE</p>
        <p class="contacts-card__city">Chicago</p>
        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class="contacts__line"></div>
        <ul class="list period-card">
          <li class="period-card__item">
            <p class="period-card__days">Monday - Friday</p>
            <p class="period-card__time">6:00 AM - 10:00 PM</p>
          </li>
          <li class="period-card__item">
            <p class="period-card__days">Saturday - Sunday</p>
            <p class="period-card__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <div class="contacts__line"></div>
        <ul class="list address-card">
          <li class="address-card__item">
            <a class="address-card__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
          <li class="address-card__item">
            <a class="address-card__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          </li>
        </ul>
      </li>

      <!-- Card 2 -->
      <li class="contacts-card__item">
        <p class="contacts-card__category category2">FOOD TRUCK</p>
        <p class="contacts-card__city">Los Angeles</p>
        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class="contacts__line"></div>
        <ul class="list period-card">
          <li class="period-card__item">
            <p class="period-card__days">Monday - Friday</p>
            <p class="period-card__time">6:00 AM - 10:00 PM</p>
          </li>
          <li class="period-card__item">
            <p class="period-card__days">Saturday - Sunday</p>
            <p class="period-card__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <div class="contacts__line"></div>
        <ul class="list address-card">
          <li class="address-card__item">
            <a class="address-card__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
          <li class="address-card__item">
            <a class="address-card__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          </li>
        </ul>
      </li>

      <!-- card 3 -->
      <li class="contacts-card__item">
        <p class="contacts-card__category category1">CAFE</p>
        <p class="contacts-card__city">New York</p>
        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class="contacts__line"></div>
        <ul class="list period-card">
          <li class="period-card__item">
            <p class="period-card__days">Monday - Friday</p>
            <p class="period-card__time">6:00 AM - 10:00 PM</p>
          </li>
          <li class="period-card__item">
            <p class="period-card__days">Saturday - Sunday</p>
            <p class="period-card__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <div class="contacts__line"></div>
        <ul class="list address-card">
          <li class="address-card__item">
            <a class="address-card__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
          <li class="address-card__item">
            <a class="address-card__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="contacts__button">
      <button class="contacts-card__button--location" type="button">
        Our Locations
        <svg>
          <use href="./images/icon.svg#icon-arrow-2"></use>
        </svg>
      </button>
      <button class="contacts-card__button--franchise" type="button">
        Franchise
        <svg>
          <use href="./images/icon.svg#icon-arrow-2"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
