<section id="customer-rewiews" class="customer-rewiews">
  <div class="container container__customer-rewiews">
    <article class="feedback-box">
      <ul class="list">
        <li>
          <picture class="img">
            <source
              class="img"
              media="(min-width:1200px)"
              srcset="/images/avatar1.png 1x, /images/avatar12x.png 2x"
            />
            <source
              class="img"
              media="(min-width:768px)"
              srcset="/images/avatar1.png 1x, /images/avatar12x.png 2x"
            />
            <source
              class="img"
              media="(min-width:480px)"
              srcset="/images/avatar1.png 1x, /images/avatar12x.png 2x"
            />
            <img class="img" src="/images/avatar1.png" alt="user" width="" />
          </picture>
          <div class="description">
            <span class="description-text"
              >Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </span>
          </div>
          <div class="name">Emily, Los Angeles</div>
        </li>
        <li>
          <picture class="img">
            <source
              class="img"
              media="(min-width:1200px)"
              srcset="/images/avatar2.png 1x, /images/avatar22x.png 2x"
            />
            <source
              class="img"
              media="(min-width:768px)"
              srcset="/images/avatar2.png 1x, /images/avatar22x.png 2x"
            />
            <source
              class="img"
              media="(min-width:480px)"
              srcset="/images/avatar2.png 1x, /images/avatar22x.png 2x"
            />
            <img class="img" src="/images/avatar2.png" alt="user" width="" />
          </picture>
          <div class="description">
            <span class="description-text"
              >Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </span>
          </div>
          <div class="name">Emily, Los Angeles</div>
        </li>
        <li>
          <picture class="img">
            <source
              class="img"
              media="(min-width:1200px)"
              srcset="/images/avatar3.png 1x, /images/avatar32x.png 2x"
            />
            <source
              class="img"
              media="(min-width:768px)"
              srcset="/images/avatar3.png 1x, /images/avatar32x.png 2x"
            />
            <source
              class="img"
              media="(min-width:480px)"
              srcset="/images/avatar3.png 1x, /images/avatar32x.png 2x"
            />
            <img class="img" src="/images/avatar3.png" alt="user" width="" />
          </picture>
          <div class="description">
            <span class="description-text"
              >Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </span>
          </div>
          <div class="name">Emily, Los Angeles</div>
        </li>
      </ul>
    </article>
  </div>
</section>
