<section class="customer-rewiews">
  <div class="container container__customer-rewiews">
    <article class="card">
      <ul class="list">
        <li>
          <picture class="img">
            <!-- <source media="(min-width:1200px)" srcset="1x, 2x" /> -->
            <!-- <source media="(min-width:768px)" srcset="1x, 2x" /> -->
            <!-- <source
              media="(min-width:480px)"
              srcset="/images/avatar1.png 1x, /src/images/avatar12x.png 2x"
            /> -->
            <img class="img" src="/images/avatar1.png" alt="user" width="" />
          </picture>
          <div class="description">
            <span class="description-text a-gradient">
              <p class="a-gradient">Nullam viverra</p>
              <p class="a-gradient">consectetuer. Quisque</p>
              <p class="a-gradient">cursus et, porttitor risus.</p>
              <p class="a-gradient">Aliquam sem. In hendrerit</p>
              <p class="a-gradient">nulla quam nunc,</p>
              <p class="a-gradient">accumsan congue. Lorem</p>
              <p class="a-gradient">ipsum primis in nibh vel</p>
              <p class="a-gradient">risus.</p>
            </span>
          </div>
          <div class="name">Emily, Los Angeles</div>
        </li>
        <!-- <li>
            <picture>
        <source media="(min-width:1200px)" srcset="1x, 2x" />
        <source media="(min-width:768px)" srcset="1x, 2x" />
        <source
              media="(min-width:480px)"
              srcset="/images/avatar1.png 1x, /src/images/avatar12x.png 2x"
            /> 
            <img class="img" src="/images/avatar2.png" alt="user" width="" />
      </picture>
          <div class="description">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </div>
          <div class="name">Emily, Los Angeles</div>
        </li> -->
        <!-- <li>
            <picture>
        <source media="(min-width:1200px)" srcset="1x, 2x" />
        <source media="(min-width:768px)" srcset="1x, 2x" />
        <source
              media="(min-width:480px)"
              srcset="/images/avatar1.png 1x, /src/images/avatar12x.png 2x"
            />
            <img class="img" src="/images/avatar3.png" alt="user" width="" />
      </picture>
          <div class="description">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </div>
          <div class="name">Emily, Los Angeles</div>
        </li> -->
      </ul>

      <picture>
        <!-- <source media="(min-width:1200px)" srcset="1x, 2x" /> -->
        <!-- <source media="(min-width:768px)" srcset="1x, 2x" /> -->
        <!-- <source
              media="(min-width:480px)"
              srcset="/images/avatar1.png 1x, /src/images/avatar12x.png 2x"
            /> -->
      </picture>

      <!-- <ul>
        <li>
          <img src="" alt="" />
        </li>
        <li></li>
        <li></li>
      </ul> -->
    </article>
  </div>
</section>
