<section class="gallery">
  <div class="container container__gallery">
    <h2 class="title hidden-title">Features</h2>
    <!-- <ul>
      <li>
        <img src="" alt="" />
        <svg width="100" height="100" style="outline: 1px solid pink">
          <rect>
            width: ;
            height: ;
            fill: ;
            stroke: ;
            stroke width: ;
            x= ;
            y= ;
            rx= ;
          </rect>
        </svg>
      </li>
      <li><img src="" alt="" /> <img src="" alt="" /></li>
      <li><img src="" alt="" /> <img src="" alt="" /></li>
      <li><img src="" alt="" /> <img src="" alt="" /></li>
      <li><img src="" alt="" /> <img src="" alt="" /></li>
      <li><img src="" alt="" /></li> -->
    <!-- </ul> -->
  </div>
</section>
