<section class="hero ice-cream">
  <div class="container">
    <h1 class="hero__title">ice cream </br> made with </br><span class="hero__title--pink">passion</span></h1>

    <button class="hero__button hero__button--pink" type="button">
      <a
      href="#products.html"
      target="_blank"
      rel="noopener noreferrer"
      >
      Products
      </a>
    </button>
    <button class="hero__button hero__button--white" type="button">
      <a
      href="#about.html"
      target="_blank"
      rel="noopener noreferrer"
      >
      How it’s made?
      </a>
    </button>

    <!-- <div class="hero__description">


      <div>
        <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>

        <button class="arrow-button" type="button">
          <svg width="8" height="8">
            <use href="./images/icon.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div> -->

    

  </div>
</section>