<section class="hero">
  <div class="container">

    <img class="ellipse"
    src="./images/ellipse-hero-pink.png" alt="ellipse-pink" />
    
    <img class="ice-cream"
    src="./images/ice-cream-hero.png" alt="ice-cream" />

    <div class="hero__thumb">
      <h1 class="hero__title">ice cream </br> made with </br><span class="hero__title--pink">passion</span></h1>

      <button class="hero__button hero__button--pink" type="button">
        <a href="#products.html"> Products </a>
      </button>
      <button class="hero__button hero__button--white" type="button">
        <a href="#about.html"> How it’s made? </a>
      </button>
      
    </div>
    
    <img class="milk"
    src="./images/milk.png"
    alt="milk" />


    <div class="hero__description">

      <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>

      <button class="arrow-button" type="button">
      </button>

    </div>

    <img class="lady"
    src="./images/lady.png" 
    alt="lady" />

  </div>
</section>