.customer-rewiews {
  padding: 83px 0 86px;
}
// .containr__customer-rewiews {
// }
.img {
  width: 85px;
  padding-bottom: 29px;
  margin: 0 auto;
}
.description {
  position: relative;
  padding: 43px 66px 26px 57px;
  background: #fafafa;
  margin-bottom: 52px;
  &::after {
    position: absolute;
    top: 8%;
    left: 20%;
    content: '';
    background-image: url(/images/quotes.png);
    width: 54px;
    height: 40px;
  }
}
.description-text {
  display: block;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 255%;
  text-align: center;
}
.name {
  position: relative;
  text-align: center;
  &::before {
    position: absolute;
    top: -20px;
    left: 47%;
    content: '';
    width: 18px;
    height: 5px;
    background-color: tomato;
  }
}
