.customer-rewiews {
  padding: 83px 0;
}
// .containr__customer-rewiews {
// }
.img {
  width: 85px;
  margin: 0 auto;
  padding-bottom: 29px;
}
.description {
  margin: 0 auto;
  padding: 43px 66px 26px 57px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 255%;
  text-align: center;
  background: #fafafa;
}
.name {
  position: relative;
  text-align: center;
  &::before {
    position: absolute;
    top: 0;
    left: 47%;
    content: '';
    width: 18px;
    height: 5px;
    background-color: tomato;
  }
}
