.gallery {
  background-image: linear-gradient(to bottom, rgb(255, 245, 246) 40%, #ffffff 40%);

  @media screen and (min-width: 480px) {
    background-image: linear-gradient(to bottom, rgb(255, 245, 246) 30%, #ffffff 30%);
  }

  @media screen and (min-width: 480px) {
    background-image: linear-gradient(to bottom, rgb(255, 245, 246) 40%, #ffffff 40%);
  }
}
.container__gallery {
  padding: 0;
  margin: 0 auto;
  display: block;
  background-size: cover;
  background-image: url(../images/gallery.png);
  background-position: center;
  max-width: 320px;
  min-height: 100px;
  @media screen and (min-width: 480px) {
    max-width: 480px;
    min-height: 112px;
    background-image: url(../images/gallery.png);
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
    min-height: 264px;
    background-image: url(../images/gallery2x.png);
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    min-height: 430px;
    background-image: url(../images/gallery2x.png);
  }
}
// .visually-hidden {
//   position: absolute;
//   clip: rect(0 0 0 0);
//   width: 1px;
//   height: 1px;
//   margin: -1px;
// }
