.page-header {
  background-color: $bg-color-header;
}

.page-header__nav {
  padding-top: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-open {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
