.hero {
  position: relative;
  overflow: hidden;
  background-color: $bg-color-header;
  width: 100%;
  // max-width: 320px;

  height: 502px;
  display: flex;
  margin: 0 auto;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    // max-width: 768px;
    height: 399px;
    align-items: flex-end;
  }

  @media screen and (min-width: 1280px) {
    // max-width: 1280px;
    height: 665px;
    align-items: flex-end;
  }
}

.ellipse {
  position: absolute;
  top: 79px;
  left: 36px;

  width: 346px;
  height: 344px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    top: 31px;
    left: 307px;

    width: 324px;
    height: 322px;
  }

  @media screen and (min-width: 1280px) {
    top: 52px;
    left: 475px;

    width: 538px;
    height: 538px;
  }
}

.ice-cream {
  position: absolute;
  top: 92px;
  left: 117px;

  width: 171px;
  height: 410px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    top: 63px;
    left: 378px;

    width: 143px;
    height: 336px;
  }

  @media screen and (min-width: 1280px) {
    top: 108px;
    left: 594px;

    width: 236px;
    height: 557px;
  }
}

.hero__thumb {
  position: absolute;

  top: 193px;

 @media screen and(min-width: 768px) {
   position: static;
 }
}

.hero__title {
  font-family: $accent-font;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $primary-white-color;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    font-size: 22px;
    line-height: 1.14;
  }

  @media screen and (min-width: 1280px) {
    font-size: 38px;
    line-height: 1.16;
  }
}

.hero__title--pink {
  font-family: $accent-font;
  font-weight: 400;
  font-size: 48px;
  line-height: 0.96;
  text-transform: uppercase;

  color: $accent-color;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    font-size: 34px;
    line-height: 0.9;
  }

  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 0.9;
  }
}

.hero__button {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  border-radius: 20px;
  border: 1px solid transparent;

  display: inline-block;
  align-items: center;
  text-align: center;
  cursor: pointer;

  padding: 6px 12px;
  margin-top: 19px;

 @media screen and (min-width: 1280px) {
  font-size: 14px;
  line-height: 1.29;
  padding: 10px 20px;
 }
}

.hero__button--pink {
  background-color: $accent-color;
  color: $primary-white-color;

  &:hover, &:focus {
    background-color: #C7133E;
  }
}

.hero__button--white {
  background-color: $primary-white-color;
  color: $accent-color;

  margin-left: 8px;

  @media screen and (min-width: 1280px) {
    margin-left: 15px;
  }

  &:hover, &:focus {
    background-color: #ECEBEB;
  }
}

.hero__description {
  @media screen and (max-width: 767px) {
    display: none;
  }

  display: flex;
  flex-direction: column;

  margin-top: 66px;
  margin-bottom: 34px;
  margin-left: 120px;

  @media screen and (min-width: 1280px) {
    margin-top: 112px;
    margin-bottom: 56px;
    margin-left: 180px;
  }
}

.hero__text {
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.5;
  letter-spacing: 0;

  width: 114px;
  height: 48px;

  margin-bottom: 7px;

  color: $primary-white-color;

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.4;

    width: 200px;
    height: 78px;

    margin-bottom: 20px;
  }
}

.milk {
  @media screen and (max-width: 767px) {
    display: none;
  }

  position: absolute;
  top: 245px;
  
  width: 124px;
  height: 126px;

  @media screen and (min-width: 1280px) {
    top: 429px;
    left: 77px;
    width: 188px;
    height: 191px;
  }
}

.lady {
  @media screen and (max-width: 767px) {
    display: none;
  }

  position: absolute;
  top: 266px;
  left: 566px;
  
  width: 168px;
  height: 133px;

  @media screen and (min-width: 1280px) {
  top: 433px;
  left: 878px;

  width: 293px;
  height: 232px;
  }
}

.arrow-button {
  display: inline-block;

  border-radius: 50%;
  width: 18px;
  height: 18px;

  border: 1px solid transparent;
  background-image: url(../images/arrow-right.png);
  background-position: center;
  background-size: 18px 18px;

  cursor: pointer;

  &:hover, &:focus {
    background-color: #ECEBEB;
  }

  @media screen and (min-width: 1280px) {
    width: 26px;
    height: 26px;

    background-size: 26px 26px;
  }
}