.products {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: $primary-font;
  font-style: normal;
  list-style: none;

  &__title {
    margin-top: 15px;
    margin-bottom: 31px;
    font-family: $accent-font;
    font-size: 34px;
    line-height: 1.147;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $accent-color;
  }

  &__subtitle {
    margin-top: 121px;
    font-family: $primary-font;
    font-size: 18px;
    line-height: 1.167;
    text-align: center;
    text-transform: uppercase;
    color: $label-title-color;
  }

  &__title,
  &__subtitle {
    font-style: normal;
    font-weight: 400;
  }

  &__list {
    list-style: none;
    padding-inline-start: 0px;
    justify-content: center;

    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;

    @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 10px;
    }
  }

  &__card {
    display: flex;
    position: relative;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 598px;
  }
  
  &__img {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 249px;
    height: 252px;
    margin: 0 auto;
    z-index: 2;
  }
  


  &__box {
    position: absolute;
    bottom: 0;
    width: 280px;
    height: 485px;
    border: none;
    background: $bg-color-card1;
    border-radius: 24px;    
  }

  &__boxtitle {
    margin-top: 161px;
    text-align: center;
  }
  &__boxtext {
    margin-top: 30px;
    padding: 0 40px;
    text-align: center;
  }

}

// $mobile: 480px;
// $tablet: 768px;
// $desktop: 1200px;

// .container {
//   padding: 0 15px;
//   margin: 0 auto;

//   @media screen and (max-width: $mobile - 1px) {
//     max-width: 100vw;
//   }

//   @media screen and (min-width: $mobile) and (max-width: $tablet - 1px) {
//     max-width: $mobile;
//   }

//   @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
//     max-width: $tablet;
//   }

//   @media screen and (min-width: $desktop) {
//     max-width: $desktop;
//   }
// }

.touch-transform {
  transition-property: color, fill, background-color, border, box-shadow,
    opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
